<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome Page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" 
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="header">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                <h1>Survey</h1>
            </div>
        </div> 
        <div class="splash-container">
            <div class="splash">
                <div class="splash-head">
                    <p id = "splash-head-title">{% block header %}WELCOME{% block header %}</p>
                </div>
                <p class="splash-subhead">
                    Hello there! we want you to do a survey about Marvel movies!
                </p>
                <p>
                    <form class="pure-form pure-form-aligned"  action="/decline" method="get">
                        <button type="submit" class="pure-button">Decline</button>
                    </form> 
                </p>
                <p>
                    <form class="pure-form pure-form-aligned" action="/survey" method="get">
                        <button type="submit" class="pure-button">Consent</button>
                    </form>
                </p>
            </div>
        </div>       
    </body>
</html>